.footer {
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .container {
        margin: 0 40px;

        .logo_row {
            margin: 0 -15px;
            margin-top: 20px;

            .logo_col {
                padding: 30px 15px;

                .logo_items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 35px;
                    border-bottom: 1px solid var(--text-color);

                    .logo {
                        a {
                            text-decoration: none;

                            img {
                                object-fit: cover;
                                width: 120px;
                                height: auto;
                                max-height: 50px;
                                transform: scale(1.3);
                                cursor: pointer;
                            }
                        }
                    }

                    .social {
                        a {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            background-color: var(--text-color);
                            line-height: 50px;
                            color: var(--text-color2);
                            display: inline-block;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 400;
                            margin-left: 12px;
                            transition: 0.4s ease-in-out;
                            // box-shadow: none;

                            &:hover {
                                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.352);
                                transform: scale(1.15);
                            }
                        }
                    }
                }
            }
        }

        .footer_content {
            padding: 60px 0 20px 0;
            .footer_content_row {
                margin: 0 -15px;

                .footer_col1 {
                    .col1_row {
                        .footer_content_col {
                            padding: 0 15px;

                            .items {
                                margin-bottom: 30px;
                                .title {
                                    h4 {
                                        font-weight: 700;
                                        font-size: 17px;
                                        font-family: var(--sub-title-font-2);
                                        letter-spacing: 2px;
                                        line-height: 18px;
                                        text-transform: uppercase;
                                        color: var(--primary-color);
                                        padding-bottom: 20px;
                                        text-transform: uppercase;
                                    }
                                }

                                .item_list {
                                    ul {
                                        margin: 0;
                                        padding: 0;

                                        li {
                                            list-style: none;
                                            a {
                                                color: var(--para-color);
                                                font-weight: 500;
                                                font-size: 15px;
                                                font-family: var(--para-font);
                                                line-height: 32px;
                                                text-decoration: none;
                                                transition: 0.3s;

                                                &:hover {
                                                    padding-left: 8px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .footer_col2 {
                    .location_items {
                        .item1 {
                            margin: 10px 0px;
                            display: flex;
                            align-items: center;

                            i {
                                color: var(--primary-color);
                                font-size: 20px;
                                margin-right: 5px;
                            }

                            span {
                                font-family: var(--sub-title-font-2);
                                letter-spacing: 2px;
                                color: var(--primary-color);
                                font-size: 16px;
                            }
                        }

                        .item2 {
                            margin: 10px 0px;
                            display: flex;
                            align-items: center;

                            i {
                                color: var(--primary-color);
                                font-size: 20px;
                                margin-right: 5px;
                            }

                            span {
                                font-family: var(--sub-title-font-2);
                                letter-spacing: 2px;
                                color: var(--primary-color);
                                font-size: 16px;
                                
                            }
                        }

                        .item3 {
                            margin: 10px 0px;
                            display: flex;
                            align-items: center;

                            i {
                                color: var(--primary-color);
                                font-size: 20px;
                                margin-right: 5px;
                            }

                            span {
                                font-family: var(--sub-title-font-2);
                                letter-spacing: 2px;
                                color: var(--primary-color);
                                font-size: 16px;
                            }
                        }

                        .item4 {
                            margin: 10px 0px;
                            display: flex;
                            align-items: center;

                            i {
                                color: var(--primary-color);
                                font-size: 20px;
                                margin-right: 5px;
                            }

                            span {
                                font-family: var(--sub-title-font-2);
                                letter-spacing: 2px;
                                color: var(--primary-color);
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .copy_right {
        padding: 25px 0 40px 0;
        border-top: 1px solid var(--text-color);
        width: 100%;

        .container {
            margin: 0 50px;
            padding: 0 12px;

            .copy_col {
                .copy_content {
                    display: flex;
                    justify-content: start;

                    .item {
                        span {
                            font-weight: 400;
                            font-size: 15px;
                            font-family: var(--para-font);
                            line-height: 35px;
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .container {
            margin: 0;

            .logo_row {
                .logo_col {
                    .logo_items {
                        display: flex;
                        flex-direction: column;
                        align-items: start;

                        .logo {
                            margin-bottom: 25px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
        .copy_right {
            .container {
                margin: 0;
            }
        }
    }
}
